<section class="user-table">
    <div class="container">
        <div class="user-table-header">
            <span>Users List</span>
            <a routerLink='create-user'>Add user</a>
        </div>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Status</th>
            </tr>

            <tr *ngFor="let user of users">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.gender}}</td>
                <td>
                    <button class="btn btn-primary" (click)="onNavigate(user.id)">Update</button>
                    <button class="btn btn-danger" (click)="onDeleteUser(user.id)">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</section>