<section class="user-table">
    <div class="container">
        <div class="user-table-header">
            <span>Users List</span>
            <a href="#">Add user</a>
        </div>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>Bui Gia Hoa</td>
                <td>hoa199297@gmail.com</td>
                <td>Nam</td>
                <td>
                    <button class="btn btn-primary">Update</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <td>Luc Thien Binh</td>
                <td>binh199297@gmail.com</td>
                <td>Nam</td>
                <td>
                    <button class="btn btn-primary">Update</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <td>Tran Hoang An</td>
                <td>an199297@gmail.com</td>
                <td>Nam</td>
                <td>
                    <button class="btn btn-primary">Update</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <td>Cao Minh Huy</td>
                <td>huy652109@gmail.com</td>
                <td>Nam</td>
                <td>
                    <button class="btn btn-primary">Update</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</section>